# Libraries

In [1]:
import numpy as pd

from pkg.constants    import *
from pkg.evaluation   import Evaluation
from pkg.algorithims  import *

# Random Search

In [2]:
seeds = np.array([7054, 1354, 23503, 11268, 58283])

In [3]:
# evaluation object
ev = Evaluation()

In [8]:
costs       = np.array([])
evaluations = np.array([])

# algorithim
for seed in seeds:

    # set evauation calls counter to 0
    ev.total_calls = 0

    np.random.seed(seed)

    solution, cost = random_search(evaluation = ev)

    costs = np.append(costs, cost)
    evaluations = np.append(evaluations, ev.total_calls)


df = pd.DataFrame({
        "ev_medias"    : [evaluations.mean()],
        "ev_mejor"     : [evaluations.min()],
        "ev_std"       : [evaluations.std()],
        "coste_medio"  : [costs.mean()],
        "coste_mejor"  : [costs.min()],
        "coste_std"    : [costs.std()]
    })

In [6]:
df = pd.DataFrame({
        "ev_medias"    : [100.0],
        "ev_mejor"     : [100.0],
        "ev_std"       : [0.0],
        "coste_medio"  : [444.357849],
        "coste_mejor"  : [434.154704],
        "coste_std"    : [5.544435]
    })

df

   ev_medias  ev_mejor  ev_std  coste_medio  coste_mejor  coste_std
0      100.0     100.0     0.0   444.357849   434.154704   5.544435

In [5]:
df.to_excel('./01_stats/random_search.xlsx')

In [10]:
print(costs)
print(evaluations)

[445.57051262 450.23329296 448.00779257 434.15470402 443.82294474]
[100. 100. 100. 100. 100.]

In [9]:
df_2 = pd.DataFrame({
    'Ejecuci√≥n': [1,2,3,4,5],
    "Coste mejor" : [445.57051262, 450.23329296, 448.00779257, 434.15470402, 443.82294474],
    "Evaluaciones" : [100., 100., 100., 100., 100.]
})

df_2.to_excel('./01_stats/rs_ejecuciones.xlsx')