# Libraries

In [1]:
import numpy as np

from pkg.constants    import *
from pkg.evaluation   import Evaluation
from pkg.algorithims  import *

from time import time

# Local Search
First best neighbor

In [2]:
seeds = np.array([7054, 1354, 23503, 11268, 58283])

ev = Evaluation()

## Study of the granularity of the algorithm
Granularity: number of slots to move between 2 stations. It defines the speed of the problem.

In [8]:
# Runs every seed of the problem and returns the stats

def run_local_search(seeds, granularity, ev):
    costs       = np.array([])
    evaluations = np.array([])


    for s in seeds:

        # set evauation calls counter to 0
        ev.total_calls = 0

        np.random.seed(s)

        solution, cost = local_search(
            granularity = granularity,
            evaluation  = ev
        )
        
        costs = np.append(costs, cost)
        evaluations = np.append(evaluations, ev.total_calls)
    

    df = pd.DataFrame({
        "ev_medias"    : [evaluations.mean()],
        "ev_mejor"     : [evaluations.min()],
        "ev_std"       : [evaluations.std()],
        "coste_medio"  : [costs.mean()],
        "coste_mejor"  : [costs.min()],
        "coste_std"    : [costs.std()]
    })
    
    return df

In [10]:
g = list(range(1,7))

df = pd.DataFrame({
        "ev_medias"    : [0],
        "ev_mejor"     : [0],
        "ev_std"       : [0],
        "coste_medio"  : [0],
        "coste_mejor"  : [0],
        "coste_std"    : [0]
    })

for granularity in g:

    df_aux = run_local_search(seeds,granularity,ev)

    df = pd.concat( [df, df_aux] )

    print(f'granularity {granularity} done')

granularity 1 done
granularity 2 done
granularity 3 done
granularity 4 done
granularity 5 done
granularity 6 done

In [11]:
df

   ev_medias  ev_mejor      ev_std  coste_medio  coste_mejor  coste_std
0        0.0       0.0    0.000000     0.000000     0.000000   0.000000
0     1152.2     726.0  311.063595   389.015956   370.857527  14.714760
0      892.6     507.0  227.199120   388.841934   375.765857  13.147792
0      631.6     522.0  113.519338   394.111213   379.615053  15.179791
0      655.0     494.0  109.827137   396.939768   385.082961  13.756105
0      538.2     404.0   92.397835   399.660101   384.178782  16.910974
0      503.6     327.0  101.743992   407.043457   394.271385  14.278958

We choose granularity = 2 because it has the lowest mean cost and the lowest std cost. From now on, every algorithm will use granularity = 2

In [13]:
df.to_excel('./01_stats/granularity.xlsx')

## Elbow Method
Method to calculate an appropriate number of iterations for an algorithm.

In [3]:
granularity = 2

In [4]:
costs       = np.array([])
evaluations = np.array([])

for s in seeds:

    # set evauation calls counter to 0
    ev.total_calls = 0

    np.random.seed(s)

    solution, cost = local_search(
        granularity = granularity,
        evaluation  = ev,
        # path = './01_stats/local_search_' + str(s) + '.xlsx'
    )

    costs = np.append(costs, cost)
    evaluations = np.append(evaluations, ev.total_calls)


df = pd.DataFrame({
    "ev_medias"    : [evaluations.mean()],
    "ev_mejor"     : [evaluations.min()],
    "ev_std"       : [evaluations.std()],
    "coste_medio"  : [costs.mean()],
    "coste_mejor"  : [costs.min()],
    "coste_std"    : [costs.std()]
})

In [7]:
df_2 = pd.DataFrame({
    'Ejecuci√≥n': [1,2,3,4,5],
    "Coste mejor" : costs,
    "Evaluaciones" : evaluations
})

df_2.to_excel('./01_stats/ls_ejecuciones.xlsx')

df_2

   Ejecuci√≥n  Coste mejor  Evaluaciones
0          1   375.765857         991.0
1          2   378.203851        1176.0
2          3   398.707709         993.0
3          4   381.856650         507.0
4          5   409.675606         796.0

In [8]:
df.to_excel('./01_stats/local_search_stats.xlsx')
df

   ev_medias  ev_mejor     ev_std  coste_medio  coste_mejor  coste_std
0      892.6     507.0  227.19912   388.841934   375.765857  13.147792