# Libraries

In [11]:
import numpy as np

from pkg.constants    import *
from pkg.evaluation   import Evaluation
from pkg.algorithims  import *

from time import time

# Tabu Search

In [2]:
seeds = np.array([7054, 1354, 23503, 11268, 58283])

ev = Evaluation()

granularity = 2 # estudiado en local search
reboots = 4

In [3]:
# parametros para ajustar
tenure = 10
total_iterations = 300
total_neighbors = 40

## Estudio del numero de iteraciones optimas

In [4]:
np.random.seed(seeds[3])

solution, cost = tabu_search(
        tenure           = tenure,
        reboots          = reboots,
        total_iterations = total_iterations,
        slots            = granularity,
        total_neighbors  = total_neighbors,
        evaluation       = ev,
        path = './01_stats/total_iterations_ts.xlsx'
    )

slots asignados: 218.0
slots asignados: 218.0
slots asignados: 281.0
normaliza
slots asignados: 218.0

In [6]:

print(cost)
print(solution)
np.sum(solution)

376.6590383801424
[11 12 20 15 17 14 12 10 11 12 17 24  3  9 20 13]

220

## Obtencion tabla individual del algoritmo

In [7]:
def run_tabu_search(tenure, reboots, total_iterations, granularity, total_neighbors, ev, seeds):

    costs       = np.array([])
    evaluations = np.array([])

    for s in seeds:

        # set evaluation calls counter to 0
        ev.total_calls = 0

        np.random.seed(s)

        solution, cost = tabu_search(
        tenure           = tenure,
        reboots          = reboots,
        total_iterations = total_iterations,
        slots            = granularity,
        total_neighbors  = total_neighbors,
        evaluation       = ev
    )

        costs = np.append(costs, cost)
        evaluations = np.append(evaluations, ev.total_calls)

    df = pd.DataFrame({
        "ev_medias"    : [evaluations.mean()],
        "ev_mejor"     : [evaluations.min()],
        "ev_std"       : [evaluations.std()],
        "coste_medio"  : [costs.mean()],
        "coste_mejor"  : [costs.min()],
        "coste_std"    : [costs.std()]
    })

    return df, costs, evaluations

In [10]:
tenure = 10
reboots = 4
iterations_per_reboot = 30
total_iterations = reboots * iterations_per_reboot
total_neighbors = 40


df, costs, evaluations = run_tabu_search(
    tenure = tenure,
    reboots = reboots, 
    total_iterations = total_iterations,
    granularity = granularity,
    total_neighbors = total_neighbors,
    ev = ev,
    seeds = seeds
)

df

slots asignados: 218.0
slots asignados: 218.0
slots asignados: 218.0
slots asignados: 282.0
normaliza
slots asignados: 218.0
slots asignados: 219.0
slots asignados: 217.0
slots asignados: 299.0
normaliza
slots asignados: 218.0
slots asignados: 247.0
normaliza
slots asignados: 218.0

   ev_medias  ev_mejor    ev_std  coste_medio  coste_mejor  coste_std
0     4804.4    4804.0  0.489898   381.265798   377.907421   3.040873

In [14]:
df = pd.DataFrame({
        "ev_medias"    : [4804.4],
        "ev_mejor"     : [4804.0	],
        "ev_std"       : [0.489898],
        "coste_medio"  : [381.265798],
        "coste_mejor"  : [377.907421],
        "coste_std"    : [3.040873]
    })


df.to_excel('./01_stats/ts_stats.xlsx')
df

   ev_medias  ev_mejor    ev_std  coste_medio  coste_mejor  coste_std
0     4804.4    4804.0  0.489898   381.265798   377.907421   3.040873